<%= partial('layout_header'); %>
  <body class="application">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="i-bar"><i class="icon-chevron-down icon-white"></i></span>
          </a>
          <a class="brand" href="/">Geddy App</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="http://geddyjs.org/tutorial.html">Tutorial</a></li>
              <!--<li><a href="http://geddyjs.org/docs.html">Docs</a></li>-->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container">
      <%- yield(); %>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect('http://localhost:4000');
      socket.on('hello', function (data) {
        console.log(data);
        socket.emit('message', "hello from the browser");
      });
    </script>
  </body>
<%= partial('layout_footer'); %>

