<!doctype html> 
<html lang="en" class="no-js">
  <head>
	  <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	  <title></title>
	  <meta name="description" content="">
	  <meta name="author" content="">
	
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <link rel="shortcut icon" href="/favicon.ico">
	
	  <link rel="stylesheet" href="/css/master.css?v=1">

   		
  </head>
  <body>
  <div id="container">
    <header>

    </header>
    
    <div id="main">
  		<%= yield(); %>
    </div>
    
    <footer>

    </footer>
  </div>  

  </body>
</html>  
