<div class="jumbotron">
  <form id="<%= names.property.singular %>-form" class="form-horizontal" action="/<%= names.filename.plural %>" method="POST">
    <fieldset>
      <legend>Create a new <%= names.constructor.singular %></legend>
      {{#if params.errors }}
      <div class="form-group">
        <ul>
        {{#each params.errors}}
          <li>{{this}}</li>
        {{/each}}
        </ul>
      </div>
      {{/if}}
      
      {{{partial "form" this}}}

      <div class="form-actions col-xs-offset-2 col-xs-offset-2">
        <input type="submit" class="btn btn-primary" value="Add" />
      </div>
    </fieldset>
  </form>
</div>
