body {
  padding-top: 60px;
  padding-bottom: 40px;
  background: url('../img/whitey.png');
}

.geddy-welcome-box {
  text-align: center;
  background-color: rgba(200, 200, 200, .5);
  box-shadow: 0px 0px 3px #bababa;
  border: 1px solid #EDEDED;
}

.geddy-welcome-box h1 {
  line-height: 1.25;
  margin-bottom: 20px;
}

.geddy-welcome-box .btn-large {
  margin-top: 20px;
}
