<!-- Lets talk about geddy -->
<div class="hero-unit geddy-welcome-box">
  <h1>Hello, World!</h1>
  <p>You've created a Geddy app and your server is running. If you already know what you're doing, feel free to jump into your app logic, if not...</p>
  <p><a href="http://geddyjs.org/tutorial.html" class="btn btn-primary btn-large">Lets get you started »</a></p>
</div>
