<div class="hero-unit">
  <a href="/todos">&laquo; back to index</a>
  <h3><%= todo.title; %></h3>
  <% if (todo.status == 'open') { %>
  <form id="finish-todo" action="/todos/update" method="POST">
    <input type="hidden" name="status" value="done"/>
    <input type="hidden" name="id" value="<%= todo.id; %>"/>
    <input type="hidden" name="title" value="<%= todo.title; %>">
  </form>
  <a href="#" class="btn" id="finish-btn">Finish</a>
  <script type="text/javascript">
    var form = $('#finish-todo');
    $('#finish-btn').click(function(e){
      e.preventDefault();
      $.ajax({
        type: "PUT",
        url: form.attr('action'),
        data: form.serialize()
      }).done(function( msg ) {
        $(e.target).replaceWith('<p>This todo is finished!</p>');
      });
    })
  </script>
  <% } else { %>
    <p>This todo is finished!</p>
  <% } %>
</div>
