<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Geddy App | This app uses Geddy.js</title>

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/core/core.js"></script>
    <!-- <script type="text/javascript" src="/js/models/your_model.js"></script> -->
    <script type="text/javascript" src="/js/config/init.js"></script>
  </head>
  <body>
    <div class="container">
      {{{render}}}
    </div>
  </body>
</html>
