<%
var infl = inflections[params.controller];
params.formAction = '/' + infl.filename.plural + '.html';
%>
<html>
  <body>
    <h3>
      New <%= inflections[params.controller].constructor.singular %>
    </h3>
    <% if (params.errors) { %>
    <p>
      <div>Errors:</div>
      <% for (var p in params.errors) { %>
      <div><%=  p %>: <%= params.errors[p] %></div>
      <% } %>
      <% } %>
    </p>
    <%= partial('_form', {params: params}); %>
  </body>
</html>


