<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Geddy App | This app uses Geddy.js</title>

    {{ scriptLink('/js/jquery.min.js', {type: 'test/javascript'}) }}
    {{ scriptLink('/js/core/core.js', {type: 'test/javascript'}) }}
    <!-- {{ scriptLink('/js/models/your_model.js', {type: 'test/javascript'}) }} -->
    {{ scriptLink('/js/config/init.js', {type: 'test/javascript'}) }}

  </head>
  <body>
    <div class="container">
      {{ yield() }}
    </div>
  </body>
</html>
