.hero-unit
  h2 To Do List
  != linkTo('Create a new To Do', { controller: 'todos', action: 'add' }, { class: 'btn pull-right' })

- if(todos && todos.length)
- for(var i in todos)
  .row.todo-item
    .span8
      h3
        != linkTo(todos[i].title, { controller: 'todos', id: todos[i].id, action: 'edit' })
    .span4
      h3
        i.icon-list-alt
        = todos[i].status
