.row.title
  .span12
    h2 Community resources
.row
  .span6.box
    .span2.avatar
    .span2.avatar
    .span2.avatar
    .span2.avatar
    .span2.avatar
    .span2.avatar
  .span6.info
.row
  .span2.avatar
  .span2.avatar
  .span2.avatar
  .span2.avatar
  .span2.avatar
  .span2.avatar
.row
  .span6.info
  .span6.box
    .span2.avatar
    .span2.avatar
    .span2.avatar
    .span2.avatar
    .span2.avatar
    .span2.avatar
.row
  .span2.avatar
  .span2.avatar
  .span2.avatar
  .span2.avatar
  .span2.avatar
  .span2.avatar
.row
  .span6.box
    .span2.avatar
    .span2.avatar
    .span2.avatar
    .span2.avatar
    .span2.avatar
    .span2.avatar
  .span6.info

