#changelog
  .row.title
    .span12
      h2 Documentation
  .row.content
    .span8
      :markdown
        ###[API Reference](/reference)
        #### A quick reference to all the API methods in the Geddy framework

        ###[Geddy Guide](/guide)
        #### More in-depth explanations of Geddy's features

        ###[Tutorial](/tutorial)
        #### Step-by-step instructions for getting up and running
