#documentation
  .row.title
    .span12
      h2 Geddy Guide
  .row.content
    .span6.toc
      ul
        each doc in docs
          li
            a(href="#"+doc.name)=geddy.string.capitalize(doc.name)
            if doc.subs
              ul
                each sub in doc.subs
                  li
                    a(href="#"+doc.name+sub)=sub
    .span6
      each doc in docs
        h3(id=doc.name)=geddy.string.capitalize(doc.name)
        !=doc.content
