.row.title
  .span12
    h2 Quick start tutorial
.row.content
  .span4.toc
    ul
      each section in sections
        li
          a(href="#"+ encodeURIComponent(section))=section
  .span8.docs
    !=content
