
/* 'Lucida Hybrid' solution: http://www.brownbatterystudios.com/sixthings/2007/03/14/lucida-hybrid-the-grande-alternative/ */
body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Luxi Sans", Arial, Helvetica, sans-serif;
}

strong, em, b, i {
    font-family: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", "Luxi Sans", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, address {
    font-family: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

body {
  font-size: 13px;
  background-color: #ccc;
  background-image: -moz-linear-gradient(100% 60% 90deg, #aaa, #ccc) !important;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccc), to(#aaa)) !important;
}

body, h1, h2, h3, h4, h5, h6, p, pre, ul, li {
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 17px;
  margin-bottom: 10px;
}

h4 {
  font-size: 16px;
  margin-bottom:5px;
}

p {
  margin-bottom: 15px;
}

pre {
  background-color: #111;
  color: #ffffff;
  margin: 0 20px 20px 0;
  padding: 10px 0;
  line-height: 18px; }

a {
  text-decoration: none;
  color: #0099CC
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #0099CC;
}

#page {
  width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #999999;
  position: relative;
}

#header {
  position: relative;
  height: 48px;
  padding: 0 20px;
  border-bottom: 1px solid #271222;
  background-color: #fff;
}

#logo,#primary-nav {
  line-height: 45px
}

#logo {
  position: absolute;
  top: 0px;
  left: 12px;
  width: 336px;
  height: 73px;
  text-indent: -9000px;
  background: url(../images/geddy_logo.png) no-repeat;
}

#primary-nav {
  color: #333;
  overflow: hidden;
  float: right;
}

#primary-nav .nav-item {
  float: left;
  padding-right: 24px;
  font-weight: bold;
  font-size: 14px;
}

#masthead {
  overflow: hidden;
  padding: 24px 24px 12px 24px;
  color: #ffffff;
  border-top: 1px solid #653358;
  border-bottom: 1px solid #954B81;
  background-color: #862171;
  background-image: -moz-linear-gradient(100% 60% 90deg, #862171, #5C104C) !important;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5C104C), to(#862171)) !important;
}

#logline {
  margin: -16px -6px 0 0;
  text-shadow: 1.2px 1.2px 8px rgba(0, 0, 0, 0.4);
  letter-spacing: 3px;
  float: right;
}

#masthead-content {
  float: left;
  line-height: 20px;
}

#masthead-content ul {
  margin-left: 8px;
}

#masthead-content li {
  margin-bottom: 2px;
}

#main-content {
  border-top: 1px solid #271222;
  padding: 12px 20px 20px 20px;
  overflow: hidden;
}

#main-content h3 {
  color: #222;
  text-shadow: 1.2px 1.2px 3px rgba(0, 0, 0, 0.1);
}

#main-content h4 {
  color: #333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

#main-content ul {
  margin-left: 24px;
}

.content #feature-list {
  margin: 0;
  list-style: none;
}


#feature-title {
  margin-bottom: 20px;
}

.feature-subtitle {
  padding-left: 25px;
  height: 17px;
  line-height: 18px;
  background: url(../images/geddy_g.png) no-repeat top left;
}

.feature {
  width: 240px;
  min-height: 120px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  margin: 8px 8px 15px 0;
  zoom: 1;
  *display: inline;
  _height: 120px;
}

.feature-content {
  line-height: 18px;
  margin: 0;
}

#footer {
  width: 800px;
  margin: 20px auto 40px auto;
}

#footer .copyright {
  text-align: center;
  color: #444;
}
/* sprites */
/*.sprite-content { background-position: 0 0; }
.sprite-generators { background-position: 0 -66px;}
.sprite-resources { background-position: 0 -132px;}
.sprite-router { background-position: 0 -198px;}
.sprite-session { background-position: 0 -264px;}
.sprite-templating { background-position: 0 -330px;}
*/

/* utility classes */

.drop-shadow {
  -moz-box-shadow: 3px  3px 3px #666;
  -webkit-box-shadow: 3px 3px 3px #666;
  box-shadow: 3px 3px 3px #666;
}

