<div class="hero-unit">
  <form id="<%= names.property.singular %>-form" class="form-horizontal" action="/<%= names.filename.plural %>" method="POST">
    <fieldset>
      <legend>Create a new <%= names.constructor.singular %></legend>
      <@ if(params.errors) { @>
      <div class="control-group">
        <ul>
        <@ for(var err in params.errors) { @>
          <li><@= params.errors[err]; @></li>
        <%% } %>
        </ul>
      </div>
      <%% } %>

      <@- partial('form', {<%= names.property.singular %>: {}}) @>

      <div class="form-actions">
        <@- contentTag('input', 'Add', {type: 'submit', class: 'btn btn-primary'}) @>
      </div>
    </fieldset>
  </form>
</div>
