!= partial('layout_header')
  body
    .navbar.navbar-default(role="navigation")
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type="button", data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
            span.sr-only('Toggle navigation')
            span.glyphicon.glyphicon-bar
            span.glyphicon.glyphicon-bar
            span.glyphicon.glyphicon-bar
          != linkTo('Geddy App', mainsPath, { class: 'navbar-brand' })
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li.active
              != linkTo('Home', mainsPath)
            li
              != linkTo('Tutorial', 'http://geddyjs.org/tutorial')
            li
              != linkTo('Docs', 'http://geddyjs.org/documentation')

    .container
      != displayFlash(flash)
      != render()
!= partial('layout_footer')

