<%- include('./partials/head')-%>

<body class="container">
  <%- include('./partials/header')-%>
  <main>
    <h3 class="display-4">नमस्ते (Namaste)</h3>
  </main>

  <div class="text-center">
    <img
      src="wallpaper.jpg"
      width="300px"
      height="100px"
      class="img-fluid"
      alt="simple image"
    />
    <blockquote class="blockquote text-center">
      <p class="mb-0">Truth can only be found in one place: the code.</p>
      <footer class="blockquote-footer">
        Robert C. Martin,
        <cite title="Source Title"
          >Clean Code: A Handbook of Agile Software Craftsmanship</cite
        >
      </footer>
    </blockquote>
  </div>
  <%- include('./partials/footer')-%>
</body>
