<html>
    <head>
        <% if (!blocks(header)) { %>
            <title>default title</title>
        <% } %>
    </head>
    <body>
        <h1>This is a layout</h1>
        <% blocks(body) %>
    </body>
</html>