<div class="hero-unit">
  <form id="<%= names.property.singular %>-form" class="form-horizontal" action="/<%= names.filename.plural %>/{{params.id}}?_method=PUT" method="POST">
    <fieldset>
      <legend>Update this <%= names.constructor.singular %></legend>
      <div class="control-group">
        <ul>
        {{#params.errors}}
          <li>{{.}}</li>
        {{/params.errors}}
        </ul>
      </div>
      
      {{{partial "form" this}}}

      <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Save" />
        <input type="submit" class="btn btn-danger" value="Delete" formaction="/<%= names.filename.plural %>/{{params.id}}?_method=DELETE" />
      </div>
    </fieldset>
  </form>
</div>