body {
  margin-top: 50px;
  margin-bottom: 50px;
}

form {
  margin-left: 25%;
}

.ghost-input {
  display: block;
  font-weight: 300;
  width: 50%;
  font-size: 25px;
  border: 0px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #4b545f;
  background: #fff;
  font-family: Open Sans, Verdana;
  padding: 15px 15px;
  margin: 30px 0px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.ghost-input:focus {
  border-bottom: 1px solid #ddd;
}
header {
  text-align: center;
}

main {
  margin-top: 10px;
  text-align: center;
}

.app-footer {
  font-size: medium;
  height: 50px;
  bottom: 0;
  text-align: center;
  padding-top: 20px;
}
