<!-- Footer Partial Template -->

<footer class="app-footer blockquote-footer">
  Created By
  <cite title="Source Title"
    ><a href="https://schadokar.dev">Shubham Chadokar</a>
    <a href="https://twitter.com/schadokar1"
      ><img src="twitter.svg" alt="twitter" width="20px" height="20px" /></a
  ></cite>
</footer>
