<!-- Header Partial Template -->
<header>
  <h1 class="display-2">Simple EJS App</h1>
  <nav class="nav nav-masthead justify-content-center">
    <a id="home" class="nav-link" href="/">Home</a>
    <a id="login" class="nav-link" href="/login">Login</a>
    <a id="logout" class="nav-link" href="/logout">Logout</a>
    <a id="profile" class="nav-link" href="/profile">Profile</a>
  </nav>
</header>
